/* #region Common */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --bg1: rgba(37, 94, 233, 1);
        --bg2: rgba(35, 39, 42, 1);
        --bg3: rgba(246, 246, 246, 1);
        --bg4: rgba(142, 161, 225, 1);


        --bg5: rgb(142, 173, 212);
        --bg6: rgb(93, 138, 178);
        --bg7: rgb(77, 148, 235);
        --bg8: rgb(157, 207, 252);

        --bord: 1px dashed rgb(5, 68, 5);
        --bord-card: 1px solid rgb(14, 38, 14);
    }

    body {
        font-family: Arial;
    }

    .container {
        max-width: 1170px;
        width: 80%;
        margin: auto;
    }

    .d-flex {
        display: flex;
    }

    .py-3 {
        padding: 0.75rem 0;
    }

/* #endregion Common */

/* #region Debug */

    .debug1 {
        height: 50px;
    }

    .debug2 {
        height: 200px;
    }

    .debug3 {
        height: 50px;
    }

/* #endregion Debug */

/* #region Header */

    header {
        background-color: var(--bg1);
    }

    .logo, .menu, .login {
        align-items: center;
        font-size: 12px;
    }

    .logo {
        width: calc(100% / 12 * 2);
    }

    .logo img {
        width: 80%;
    }

    .menu {
        width: calc(100% / 12 * 8);
        justify-content: center;
    }

    .menu a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        margin-left: 15px;
        margin-right: 15px;
    }

    .menu a:hover {
        text-decoration: underline;
    }

    .login {
        width: calc(100% / 12 * 2);
        justify-content: flex-end;
    }

    .login button {
        background-color: white;
        border: none;
        padding: 6px 12px;
        border-radius: 16px;
        font-size: 12px;
    }

/* #endregion Header */

/* #region heroimg */

    .heroimg {
        background-image: url(../img/jumbo.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hero-cont {
        text-align: center;
        padding: 100px 250px 200px 250px;
        color: white;
    }

    .hero-cont h1 {
        font-size: 50px;
    }

    .hero-cont p {
        padding-top: 40px;
        padding-bottom: 20px;
        font-size: 14px;
        line-height: 1.5rem;
    }

    .hero-cont button {
        border: none;
        margin: 0 15px 0 15px;
        padding: 15px 25px;
        border-radius: 30px;
        font-size: 16px;
    }

    .hero-cont .mac {
        background-color: white;
    }

    .hero-cont .browser {
        background-color: var(--bg2);
        color: white;
    }

/* #endregion heroimg */

/* #region sezioni general */
    
    .row {
        display: flex;
        align-items: center;
        padding: 40px 0 40px 0;
    }

    .col-4 {
        width: calc(100% / 12 * 8);
    }

    .col-8 {
        width: calc(100% / 12 * 8);
    }

    .col-8 .card {
        padding: 0 40px 0 40px; 
    }

    .card h2 {
        font-size: 36px;
        color: var(--bg2);
    }

    .card p {
        padding-top: 15px;
        color: var(--bg2);
    }

    .card img {
        width: 500px;
    }

/* #endregion sezioni general */

/* #region sezione 2 e 4 */

.section2, .section4 {
    background-color: var(--bg3);
}

.container2 {
    text-align: center;
}

.container2 h2 {
    font-size: 36px;
    color: var(--bg2);
}

.container2 p {
    padding-top: 15px;
    color: var(--bg2);
}

.container2 h3 {
    font-size: 24px;
    color: var(--bg2);
}

.container2 button {
    border: none;
    margin: 0 15px 0 15px;
    padding: 15px 25px;
    border-radius: 30px;
    font-size: 16px;
    background-color: var(--bg4);
    color: white;
}

/* #endregion sezione 2 e 4*/

/* #region sezione wave */

.section-wave img {
    width: 100%;
    filter: invert(99%) sepia(3%) saturate(96%) hue-rotate(165deg) brightness(112%) contrast(93%);
    vertical-align: bottom;
}

.section-wave.rot {
    rotate: x 180deg;
}

/* #endregion sezione wave */

/* #region footer */

    footer {
        background-color: var(--bg1);
    }

    .f-container {
        width: 80%;
        max-width: 1170px;
        margin: auto;
        background-color: var(--bg2);
        display: flex;
        align-items: center;
    }

    .f-row1 {
        width: 100%;
        height: 80%;
        background-color: var(--bg3);
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .f-col1 {
        width: 30%;
        height: 80%;
        background-color: var(--bg4);
        border: var(--bord);
    }

    .f-col2 {
        width: 15%;
        height: 80%;
        background-color: var(--bg4);
        border: var(--bord);
    }

    .f-container2 {
        width: 80%;
        max-width: 1170px;
        margin: auto;
        background-color: var(--bg2);
        display: flex;
    }

    .f-row2 {
        width: 100%;
        height: 80%;
        background-color: var(--bg3);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .f-col3 {
        width: 20%;
        height: 80%;
        background-color: var(--bg4);
        border: var(--bord);
    }

/* #endregion footer */
