/* #region Common */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --bg1: rgba(37, 94, 233, 1);

        --bg2: rgb(91, 201, 85);
        --bg3: rgb(112, 251, 104);
        --bg4: rgb(176, 248, 172);
        --bg5: rgb(142, 173, 212);
        --bg6: rgb(93, 138, 178);
        --bg7: rgb(77, 148, 235);
        --bg8: rgb(157, 207, 252);

        --bord: 1px dashed rgb(5, 68, 5);
        --bord-card: 1px solid rgb(14, 38, 14);


    }

    body {
        font-family: Arial;
    }

    .container {
        max-width: 1170px;
        width: 80%;
        margin: auto;
    }

    .d-flex {
        display: flex;
    }

    .py-3 {
        padding: 0.75rem 0;
    }

/* #endregion Common */

/* #region Debug */

    .debug1 {
        height: 50px;
    }

    .debug2 {
        height: 200px;
    }

    .debug3 {
        height: 50px;
    }

/* #endregion Debug */

/* #region Header */

    header {
        background-color: var(--bg1);
    }

    .logo, .menu, .login {
        align-items: center;
        font-size: 10px;
    }

    .logo {
        width: 15%;
    }

    .logo img {
        width: 80%;
    }

    .menu {
        width: 70%;
        justify-content: center;
    }

    .menu a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        margin-left: 15px;
        margin-right: 15px;
    }

    .menu a:hover {
        text-decoration: underline;
    }

    .login {
        width: 15%;
        justify-content: flex-end;
    }

    .login button {
        background-color: white;
        border: none;
        padding: 6px;
        border-radius: 16px;
        font-size: 10px;
    }

/* #endregion Header */

/* #region heroimg */

    .heroimg {
        background-image: url(../img/jumbo.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hero-cont {
        text-align: center;
        padding-left: 17%;
        padding-right: 17%;
        padding-top: 100px;
        padding-bottom: 100px;
        color: white;
    }

    .hero-cont h1 {
        font-size: 50px;
    }

    .hero-cont p {
        padding-top: 18px;
        padding-bottom: 18px;
        font-size: 18px;
    }

    .hero-cont button {
        border: none;
        margin: 15px;
        padding: 15px 25px;
        border-radius: 30px;
        font-size: 15px;
    }

    .hero-cont .mac {
        background-color: white;
    }

    .hero-cont .browser {
        background-color: rgba(35, 39, 42, 1);
        color: white;
    }

/* #endregion heroimg */

/* #region sezione 1 */

    .s1-sez-container {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    .s1-container {
        width: 80%;
        max-width: 1170px;
        margin: auto;
        background-color: var(--bg2);
        display: flex;
        align-items: center;
    }

    .s1-row {
        width: 100%;
        height: 80%;
        background-color: var(--bg3);
        display: flex;
        align-items: center;
        
    }

    .s1-col1 {
        width: 60%;
        height: 80%;
        background-color: var(--bg4);
        border: var(--bord);
    }

    .s1-col2 {
        width: 40%;
        height: 80%;
        background-color: var(--bg4);
        border: var(--bord);
    }

    .s1-card {
        width: 60%;
        height: 40%;
        margin: 1rem;
        border: var(--bord-card);
    }

/* #endregion sezione 1*/

/* #region sezione 2 */

    .s2-sez-container {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    .s2-container {
        width: 80%;
        max-width: 1170px;
        margin: auto;
        background-color: var(--bg6);
        display: flex;
        align-items: center;
    }

    .s2-row {
        width: 100%;
        height: 80%;
        background-color: var(--bg7);
        display: flex;
        align-items: center;
        
    }

    .s2-col1 {
        width: 60%;
        height: 80%;
        background-color: var(--bg8);
        border: var(--bord);
    }

    .s2-col2 {
        width: 40%;
        height: 80%;
        background-color: var(--bg8);
        border: var(--bord);
    }

    .s2-card {
        width: 60%;
        height: 40%;
        margin: 1rem;
        border: var(--bord-card);
    }

/* #endregion sezione 2  */

/* #region sezione 3 */

.s3-sez-container {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.s3-container {
    width: 80%;
    max-width: 1170px;
    margin: auto;
    background-color: var(--bg2);
    display: flex;
    align-items: center;
}

.s3-row {
    width: 100%;
    height: 80%;
    background-color: var(--bg3);
    display: flex;
    align-items: center;
    
}

.s3-col1 {
    width: 60%;
    height: 80%;
    background-color: var(--bg4);
    border: var(--bord);
}

.s3-col2 {
    width: 40%;
    height: 80%;
    background-color: var(--bg4);
    border: var(--bord);
}

.s3-card {
    width: 60%;
    height: 40%;
    margin: 1rem;
    border: var(--bord-card);
}

/* #endregion sezione 3 */

/* #region sezione 4 */

.s4-sez-container {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.s4-container {
    width: 80%;
    max-width: 1170px;
    margin: auto;
    height: 80%;
    background-color: var(--bg6);
}

/* #endregion sezione 4  */

/* #region footer */

    footer {
        background-color: var(--bg1);
    }

    .f-container {
        width: 80%;
        max-width: 1170px;
        margin: auto;
        background-color: var(--bg2);
        display: flex;
        align-items: center;
    }

    .f-row1 {
        width: 100%;
        height: 80%;
        background-color: var(--bg3);
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .f-col1 {
        width: 30%;
        height: 80%;
        background-color: var(--bg4);
        border: var(--bord);
    }

    .f-col2 {
        width: 15%;
        height: 80%;
        background-color: var(--bg4);
        border: var(--bord);
    }

    .f-container2 {
        width: 80%;
        max-width: 1170px;
        margin: auto;
        background-color: var(--bg2);
        display: flex;
    }

    .f-row2 {
        width: 100%;
        height: 80%;
        background-color: var(--bg3);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .f-col3 {
        width: 20%;
        height: 80%;
        background-color: var(--bg4);
        border: var(--bord);
    }

/* #endregion footer */
